<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página sobre Reviews de Livros</title>
</head>

<body>
    <h1>Página sobre Reviews de Livros</h1>
    <form id="form-search">
        <input type="search" name="" id="searchInput">
        <button type="button">pesquisar</button>
    </form>
    <div id="results"></div>

    <script>
        document
            .getElementById("form-search")
            .addEventListener("click", search, false);

        function search(event) {
            event.preventDefault();
            const title = document.getElementById('searchInput').value;
            const xhr = new XMLHttpRequest();
            const url = `http://localhost:5000/search?title=${encodeURIComponent(title)}&limit=5`;

            xhr.open('GET', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    displayResults(response);
                }
            };
            xhr.send();
        }

        function write_review(self, isbn) {
            // const isbn = self.parentElement.getElementById('isbn').value;
            const reviewer = "Anon"; // document.getElementById('reviewer').value;
            const text = self.parentElement.getElementsByTagName("textarea")[0].value;
            const rating = self.parentElement.getElementsByTagName("input")[0].value;

            const xhr = new XMLHttpRequest();
            const url = `http://localhost:5000/books/${isbn}/reviews`;
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = async function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 201) {
                        // alert("Review added successfully!");
                        const newData = JSON.parse(xhr.responseText);
                        document.getElementById('reviews').innerHTML += `
                        <div id="${isbn}-${newData.id}">
                            <textarea id="form-review-${isbn}-${newData.id}-text">${newData.text}</textarea>
                            rating: ${newData.rating}
                            <button type="button" onclick="rewrite_review(this,'${isbn}','${newData.id}')">reescrever</button>
                            <button type="button" onclick="favorite_review(this,'${isbn[0]}','${newData.id}')">favoritar</button>
                            <button type="button" onclick="delete_review('${isbn}','${newData.id}')">delete</button>
                            <div style="width:50px" id="like-${isbn[0]}-${newData.id}">Favoritado</div>
                            
                        </div>
                        `

                        self.parentElement.getElementsByTagName("textarea")[0].value = "";
                    } else {
                        // alert("Failed to add review: " + xhr.responseText);
                    }
                }
            };

            const data = JSON.stringify({
                "reviewer": reviewer,
                "text": text,
                "rating": rating
            });

            xhr.send(data);
        }

        function delete_review(isbn, idx) {
            const xhr = new XMLHttpRequest();
            const url = `http://localhost:5000/books/${isbn}/reviews/${idx}`;
            xhr.open("DELETE", url, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        // alert("Review added successfully!");
                        const newData = JSON.parse(xhr.responseText);
                        document.getElementById(`${isbn}-${newData[0].id}`).remove();
                    } else {
                        // alert("Failed to add review: " + xhr.responseText);
                    }
                }
            };

            xhr.send();
        }

        function rewrite_review(self, isbn, id) {
            // const isbn = isbn; // document.getElementById('isbn').value;
            const reviewer = "Anon"; // document.getElementById('reviewer').value;
            const text = self.parentElement.getElementsByTagName("textarea")[0].value;
            const rating = 5; //document.getElementById('rating').value;

            const xhr = new XMLHttpRequest();
            const url = `http://localhost:5000/books/${isbn}/reviews/${id}`;
            xhr.open("PUT", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 201) {
                        // alert("Review added successfully!");
                        const newData = JSON.parse(xhr.responseText);
                        self.parentElement.getElementsByTagName("textarea")[0].value = newData.text;
                    } else {
                        // alert("Failed to add review: " + xhr.responseText);
                    }
                }
            };

            const data = JSON.stringify({
                "reviewer": reviewer,
                "text": text,
                "rating": rating
            });

            xhr.send(data);
        }

        function favorite_review(self, isbn, id) {
            const xhr = new XMLHttpRequest();
            const url = `http://localhost:5000/likes/${isbn}/${id}`;
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        // Altere o texto do botão para "Favoritado" e mude a cor
                        self.textContent = "Favoritado";
                        self.style.color = "#34D399"; // Cor verde para indicar favoritado
                        self.disabled = true; // Desabilita o botão após favoritar
                    }
                }
            };

            xhr.send();
        }

        function displayResults(data) {
            const resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = '';

            data.docs.forEach(async book => {
                const bookDiv = document.createElement('div');
                bookDiv.innerHTML = `
                    <h2>${book.title}</h2>
                    <p>Author: ${book.author_name ? book.author_name.join(', ') : 'Unknown'}</p>
                    <p>First Published Year: ${book.first_publish_year || 'N/A'}</p>
                    <p>reviews: </p>
                    <div id="reviews">
                    ${
                        await new Promise((resolve, reject) => {
                            const xhr = new XMLHttpRequest();
                            const url = `http://localhost:5000/books/${book.isbn[0]}/reviews`;

                            xhr.open('GET', url, true);
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState === 4) {
                                    if (xhr.status === 200) {
                                        resolve(JSON.parse(xhr.responseText));
                                    } else {
                                        // reject(new Error(`Request failed with status ${xhr.status}`));
                                        resolve([]);
                                    }
                                }
                            };
                            xhr.send();
                        }).then(reviews => {
                            return reviews.map( (r, idx) => `
                                <div id="${book.isbn[0]}-${r.id}">
                                    <textarea id="form-review-${book.isbn[0]}-${r.id}-text">${r.text}</textarea>
                                    rating: ${r.rating}
                                    <button type="button" onclick="rewrite_review(this,'${book.isbn[0]}','${r.id}')">reescrever</button>
                                    <button type="button" onclick="favorite_review(this,'${book.isbn[0]}','${r.id}')">favoritar</button>
                                    <button type="button" onclick="delete_review('${book.isbn[0]}','${r.id}')">delete</button>
                                    ${ 
                                        ( () => {
                                            const xhr = new XMLHttpRequest();
                                            const url = `http://localhost:5000/likes/${book.isbn[0]}/`;

                                            xhr.open('GET', url, true);
                                            xhr.onreadystatechange = function () {
                                                if (xhr.readyState === 4) {
                                                    if (xhr.status === 200) {
                                                        console.log(JSON.parse(xhr.responseText), r.id)
                                                        if ( JSON.parse(xhr.responseText).includes(r.id.toString()) )
                                                            document.getElementById(`like-${book.isbn[0]}-${r.id}`).style.backgroundColor = "green";
                                                    } else {
                                                        // reject(new Error(`Request failed with status ${xhr.status}`));
                                                    }
                                                }
                                            };
                                            xhr.send();

                                            return `<div style="width:50px" id="like-${book.isbn[0]}-${r.id}">Favoritado</div>`
                                        })()
                                    }
                                </div>
                            `).toString().replaceAll(",\n", "\n");
                        }).catch(() =>{
                            return;
                        })
                    }
                    </div>
                    <br>
                    <form>
                        <textarea type="search" id="text"></textarea>
                        <input type="number" value="5" id="rating">
                        <button type="button" id="form-review-${book.isbn[0]}" onclick="write_review(this,'${book.isbn[0]}')">escrever review</button>
                    </form>
                `;

                resultsDiv.appendChild(bookDiv);
            });
        }
    </script>
</body>

</html>